@tailwind base;

/* purgecss start ignore */

body {
  @apply bg-black;
  @apply text-white;
  @apply leading-normal;
  @apply h-screen;
}

#map {
  @apply w-full;
  @apply h-full;
}

.btn {
  @apply font-normal;
  @apply border;
  @apply border-gray;
  @apply rounded;
  @apply px-2;
  @apply py-1;
}
.btn:disabled,
.btn.disabled {
  @apply opacity-50;
  @apply cursor-not-allowed;
}
.btn:not(:disabled, .disabled):hover {
  @apply border-white;
}

.highlight {
  @apply ring-4;
  @apply ring-lightBlue;
  @apply ring-opacity-90;
  @apply animate-ping;
  animation: ring-pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@keyframes ring-pulse {
  0%,
  100% {
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(2px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }
  50% {
    box-shadow: var(--tw-ring-inset) 0 0 0
      calc(4px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  }
}

.max-h-modal {
  max-height: calc(100vh - 4rem);
}

.tippy-box {
  @apply bg-darkGray;
  @apply border;
  @apply border-black;
  @apply leading-snug;
  max-width: 15rem !important;
}

.tippy-arrow {
  @apply text-darkGray;
  bottom: -1px;
}

.notyf__toast {
  @apply text-sm;
  max-width: 220px;
}

.notyf__icon {
  display: none;
}

/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
