body {
  background: var(--background);
  color: var(--text);

  font-size: 16px;
  font-family: Roboto;
}

main {
  display: flex;
  flex-flow: column;
  max-width: 1280px;
  height: auto;
  overflow: hidden;
}

.row {
  display: flex;
  flex-flow: row;
}

.left,
.right {
  flex: 1 1 0;
}

.center {
  flex: 0 0 auto;
}

.map {
  border: 1px solid var(--text);
  border-radius: 0.25rem;
  margin: 1rem;
}

.box {
  border: 1px solid var(--text);
  border-radius: 0.25rem;
  margin: 1.5rem 0.75rem;
  padding: 1rem;
  position: relative;
}

.box__label {
  position: absolute;
  top: -1.25rem;
  left: 0.5rem;
  background: var(--background);
  padding: 0 0.5rem;
  font-family: Nova Mono;
  font-size: 1.5rem;
}

.status {
  display: flex;
  flex-flow: row wrap;
  height: auto;
}

.help {
  display: inline-block;
  border-radius: 100%;
  background: var(--secondary);
  color: var(--background);
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0 0.5em;
}

.status > * {
  flex: 0 0 50%;
}

.controls {
  display: flex;
  flex-flow: row wrap;
  margin-top: 0;
}

.control {
  flex: 0 0 100%;
  background: none;
  padding: 0;
  margin: 0;
  border: none;
  cursor: pointer;
  font-size: inherit;
  text-align: start;
}
.control:hover,
.cover:active {
  background: none;
}
.control > kbd {
  background: #333;
  padding: 0.25rem;
  margin-right: 0.25rem;
  border-radius: 0.25rem;
  font-family: monospace;
}
.control:not(:last-child) {
  padding-bottom: 0.5rem;
}

.weapon {
  height: 5.3rem;
}

.message-log {
  height: 5rem;
}

.messages {
  height: 100%;
  overflow: auto;
}

.message {
  padding-bottom: 0.25rem;
  width: 40rem;
}

.legend {
  height: 32.3rem;
  display: flex;
  flex-flow: row wrap;
}

.legend__item {
  flex: 0 0 calc(100% - 2rem);
}

.legend__item--half {
  flex: 0 0 calc(50% - 1rem);
}

.legend__glyph {
  padding: 0.25rem;
  font-family: Nova Mono;
}

.legend__item:not(:last-child) {
  padding-bottom: 0.4rem;
}

.opening-dialog {
  width: 400px;
  margin: 0 auto;
}

.opening-dialog__action {
  width: 100%;
  display: block;
  margin-bottom: 1em;
}

.opening-dialog__warning {
  color: var(--secondary);
}
