@tailwind base;

/* purgecss start ignore */

body {
  @apply bg-black;
  @apply text-white;
  @apply leading-normal;
  @apply h-screen;
}

#map {
  @apply w-full;
  @apply h-full;
}

.btn {
  @apply font-normal;
  @apply border;
  @apply border-gray;
  @apply rounded;
  @apply px-2;
  @apply py-1;
}
.btn:disabled {
  @apply opacity-50;
  @apply cursor-not-allowed;
}
.btn:not(:disabled):hover {
  @apply border-white;
}
.rc-tooltip-inner {
  @apply bg-black;
  @apply border;
  border-color: #373737;
}

.tippy-box {
  @apply bg-darkGray;
  @apply border;
  @apply border-black;
  @apply leading-snug;
  max-width: 15rem !important;
}

.tippy-arrow {
  @apply text-darkGray;
  bottom: -1px;
}

/* purgecss end ignore */

@tailwind components;

@tailwind utilities;
